---
---

// "Theme" styles
@import "style";

// Components
@import "components/forkme";
@import "components/footer";

// Custom style
.reveal section img[alt=left] {
  display: inline;
  margin: 0px;
  vertical-align: middle;
}

.reveal {
  font-size: 24px;
}

.reveal code {
  font-size: 20px;
}