<section id="cover">
    <section>
        <h3>Desarrollo de aplicaciones multiplataforma</h3>
        <h3></h3>
        <hr/>
        <p>Módulo de programación.</p>
        <small>2021-2022</small>
        <img src="images/logo-kotlin.png" />
    </section>
    <!--
        Bloques de diapositivas
    -->
    <section data-markdown>
        ### Eduardo Fernandez Oliver
        `Linked-in` https://www.linkedin.com/in/efoliver/
        <hr/>
        efernandez@iesrafaelalberti.es
        <br>
        eferoli398@g.educaanda.es

        ![](images/logo-kotlin.png)
    </section>
    <section data-markdown>
        # Contenido
        - Aprender a programar
        - Herramientas:
            - Lenguaje de programación: Kotlin
            - Entornos de desarrollo integrados (IDE)
            - Sistema de control de versiones
            - Test y marcos de trabajo (Frameworks)
    </section>
    <section data-markdown>
        # Evaluación
        - Resultados de evaluación (RA)
            - Criterios de evaluación (CE)
        - Actividades de clases, Prácticas y Pruebas
    </section>
    <section data-markdown>
        ## Resultados de evaluación (RA) 1
        1. Conoce la estructura de un programa informático, identificando y relacionando los elementos propios del lenguaje de programación utilizado.
        2. Escribe y prueba programas sencillos, reconociendo y aplicando los fundamentos de la programación orientada a objetos.
        3. Escribe y depura código, analizando y utilizando las estructuras de control del lenguaje.
        4. Desarrolla programas organizados en clases analizando y aplicando los principios de la programación orientada a objetos.
        5. Realiza operaciones de entrada y salida de información, utilizando procedimientos específicos del lenguaje y librerías de clases.
    </section>
    <section data-markdown>
        ## Resultados de evaluación (RA) 2
        6. Escribe programas que manipulen información seleccionando y utilizando tipos avanzados de datos.
        7. Desarrolla programas aplicando características avanzadas de los lenguajes orientados a objetos y del entorno de programación.
        8. Utiliza bases de datos orientadas a objetos, analizando sus características y aplicando técnicas para mantener la persistencia de la información.
        9. Gestiona información almacenada en bases de datos relacionales manteniendo la integridad y consistencia de los datos.
    </section>
    <section data-markdown>
        ## Conocimientos previos
        - ¿Eres repetidor? ¿Qué fue lo que más te costó?
        - ¿Conoces un lenguaje? ¿Cuáles? ¿Preferencias?
        - ¿Conoces Kotlin? ¿Para qué sirve?
        - ¿Sabes que es git, IDE, junit?
        - ¿Has trabajado en el mundo de la informática?
        - ¿Nivel de inglés?
    </section>
    <section data-markdown>
        ## Metodología
        - Aprender haciendo.
        - Actividades prácticas que acompañan la teoria.
    </section>
    <section data-markdown>
        ## Herramientas 1 (IDE)
        - Descargar [Toolbox](https://www.jetbrains.com/toolbox-app/) e instalar IntelliJ IDEA Edu.
        - Instala el curso Atomic Kotlin
            - New Course: Stepik -> AtomicKotlin
        - Solución de problema al compilar
            - Sustituir el fichero build.gradle por [este](https://github.com/svtk/AtomicKotlinCourse/blob/bb069e4a36cf7467b1481788a9cc2ace0772648e/build.gradle)
        - Logarse en Stepik para que haga seguimiento de los avances. (github)
    </section>
    <section data-markdown>
        ## Herramientas 2 (SCV)
        - Correo en @iesrafaelalberti.es
        - Dar de alta en cuenta en github
        - Aula virtual:
            - Poner foto
            - Cambiar email
    </section>

    <section data-markdown>
        ## Mas allá
        - Aula atéca
        - Aula de emprendimiento
    </section>

    <!--

    <section data-markdown>
        ### Lista numerada

        1. Elemento 1
            - 1 1
            - 1 2
        2. Elemento 2
            - 2 1
            - 2 2
            - 2 3
        3. Elemento 3
            - 3 1
    </section>
    <section data-markdown>
        ### Tabla

        | L | M | X | J | V | S | D |
        | :--: | :--: | :--: | :--: |
        | 16 | 17 | 18 | **19** | 20 | 21 | 22 |
        | 23 | **24** | 25 | **26** | 27 | 28 | 29 |
        | 30 | **1** | 2 | **3** | 4 | 5 | 6 |
        | 7 | **8** | 9 | **10** | 11 | 12 | 13 |
    </section>
</section>
-->
</section>
